/**** General *******/

html, body {
  font-size: 16px;
  color: 	#555555;
}

.container {
  margin-left: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.image {
  max-width: 60%;
}

.image img {
  width: 100%;
}

.description {
  max-width: 40%;
  margin-left: 24px;
}

h1 {
  font-size: 2.7rem;
  font-weight: 700;

}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 24px;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
}

.description {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.info {
  display: flex;
}
.pic {
  width: 35%;
}

.pic img {
  width: 100%;
  margin: 1rem;
}

.details {
  width: 65%;
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#grey {
  background: lightgrey;
}

/******** HEADER *******/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin-left: 24px;
  margin-right: 24px;
}

header .logo {
  display: flex;
  align-items: center;
}

header span {
  font-size: 1rem;
  line-height: 2rem;
}

header span .grey {
  color: grey;
}

header ul li{
  display: inline-block;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

header ul li:first-child, header ul li:nth-child(2), header ul li:nth-child(3) {
  border-right: 16px solid lightblue;

}

header ul a {
  text-decoration: none;
}

/***** JUMBOTRON ********/


.jumbotron {
  background: lightgrey;
}

.jumbotron .description {
  justify-content: center;
}

.jumbotron .description h1, .jumbotron .description p, .jumbotron .description a {
  width: 70%;
}

.jumbotron h1, .jumbotron p {
  margin-bottom: 1.5rem;
}

.jumbotron .description p:nth-child(3)  {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  color: white;
}

.jumbotron .description a {
  color: white;
  margin: 8px auto;
  text-align: center;
}

/***** Supporting-section-1 *****/

.supporting-section-1 .description {
  margin-top: -1rem;
}

.supporting-section-1 .image img {
  margin-bottom: 2rem;
}

.supporting-section-1 a {
  color: blue;
}




.
